@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.9rem;
  --icon-sm: calc(var(--spacing) * 3);
  --icon: calc(var(--spacing) * 4);
  --icon-lg: calc(var(--spacing) * 5);

  /* Backgrounds */
  --background: hsl(0, 0%, 100%);
  --background-dark: hsl(0, 0%, 97%);
  --background-darker: hsl(240, 9%, 96%);

  /* Text colors */
  --foreground: hsl(214, 0%, 25%);

  /* Brand colors */
  --primary: hsl(214, 80%, 56%);
  --primary-foreground: hsl(214, 0%, 95%);
  --secondary: hsl(214, 0%, 90%);
  --secondary-foreground: hsl(214, 0%, 40%);
  --muted: hsl(214, 0%, 93%);
  --muted-foreground: hsl(214, 0%, 40%);
  --accent: hsl(214, 0%, 97%);
  --accent-foreground: hsl(214, 0%, 40%);

  /* Supporting colors */
  --destructive: hsl(360deg, 80.9%, 59%);
  --destructive-background: hsl(0deg, 85.7%, 97.3%);
  --destructive-foreground: hsl(360deg, 80.9%, 95%);
  --destructive-foreground-dark: hsl(360deg, 80.9%, 15%);

  --success: hsl(142deg, 69.6%, 43.9%);
  --success-background: hsl(143deg, 88.9%, 96.5%);
  --success-foreground: hsl(142deg, 69.6%, 95%);
  --success-foreground-dark: hsl(142deg, 69.6%, 15%);

  --warning: hsl(45.6deg, 94.1%, 46.9%);
  --warning-background: hsl(54.5deg, 91.7%, 95.3%);
  --warning-foreground: hsl(45.6deg, 94.1%, 95%);
  --warning-foreground-dark: hsl(45.6deg, 94.1%, 15%);

  --info: hsl(217deg, 80%, 56.9%);
  --info-background: hsl(212deg, 100%, 96.7%);
  --info-foreground: hsl(217deg, 80%, 95%);
  --info-foreground-dark: hsl(217deg, 80%, 15%);

  /* Borders */
  --border: hsl(320, 0%, 90%);
  --input: hsl(320, 0%, 90%);
  --ring: var(--primary);

  /* Charts */
  --chart-1: hsl(24, 138%, 40%);
  --chart-2: hsl(176, 177%, 21%);
  --chart-3: hsl(196, 72%, 23%);
  --chart-4: hsl(47, 160%, 39%);
  --chart-5: hsl(41, 156%, 39%);

  /* Sidebar */
  --sidebar: hsl(240, 0%, 98%);
  --sidebar-foreground: hsl(0, 0%, 4%);
  --sidebar-primary: hsl(330, 0%, 9%);
  --sidebar-primary-foreground: hsl(240, 0%, 98%);
  --sidebar-accent: hsl(300, 0%, 96%);
  --sidebar-accent-foreground: hsl(330, 0%, 9%);
  --sidebar-border: hsl(320, 0%, 90%);
  --sidebar-ring: hsl(0, 0%, 63%);
}

.dark {
  /* scrollbar-gutter: stable; */
  color-scheme: dark;
  /* Backgrounds */
  --background: hsl(214, 0%, 12%);
  --background-dark: hsl(214, 0%, 9%);
  --background-darker: hsl(214, 0%, 6%);

  /* Text colors */
  --foreground: hsl(214, 0%, 90%);

  /* Brand colors */
  --primary: hsl(214, 81%, 56%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(214, 0%, 90%);
  --secondary-foreground: hsl(0, 0%, 31%);
  --muted: hsl(214, 0%, 15%);
  --muted-foreground: hsl(0, 0%, 45%);
  --accent: hsl(214, 0%, 18%);
  --accent-foreground: hsl(0, 0%, 45%);

  /* Supporting colors */
  --destructive: hsl(360deg, 80.9%, 59%);
  --destructive-background: hsl(0deg, 85.7%, 97.3%);
  --destructive-foreground: hsl(360deg, 80.9%, 95%);
  --destructive-foreground-dark: hsl(360deg, 80.9%, 15%);

  --success: hsl(142deg, 69.6%, 43.9%);
  --success-background: hsl(143deg, 88.9%, 96.5%);
  --success-foreground: hsl(142deg, 69.6%, 95%);
  --success-foreground-dark: hsl(142deg, 69.6%, 15%);

  --warning: hsl(45.6deg, 94.1%, 46.9%);
  --warning-background: hsl(54.5deg, 91.7%, 95.3%);
  --warning-foreground: hsl(45.6deg, 94.1%, 95%);
  --warning-foreground-dark: hsl(45.6deg, 94.1%, 15%);

  --info: hsl(217deg, 80%, 56.9%);
  --info-background: hsl(212deg, 100%, 96.7%);
  --info-foreground: hsl(217deg, 80%, 95%);
  --info-foreground-dark: hsl(217deg, 80%, 15%);

  /* Borders */
  --border: hsl(0deg, 0%, 18%);
  --input: var(--border);
  --ring: var(--primary);
}

@theme inline {
  --size-icon-sm: var(--icon-sm);
  --size-icon: var(--icon);
  --size-icon-lg: var(--icon-lg);
  --color-background: var(--background);
  --color-background-dark: var(--background-dark);
  --color-background-darker: var(--background-darker);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-background: var(--destructive-background);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-success: var(--success);
  --color-success-background: var(--success-background);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-background: var(--warning-background);
  --color-warning-foreground: var(--warning-foreground);
  --color-info: var(--info);
  --color-info-background: var(--info-background);
  --color-info-foreground: var(--info-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-success: var(--success);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    font-family: "Inter", sans-serif;
  }
  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply cursor-pointer;
  }

  #desktop-header {
    -webkit-app-region: drag;
  }

  #desktop-header button,
  #desktop-header input,
  #desktop-header select,
  #desktop-header a,
  #desktop-header .interactive {
    -webkit-app-region: no-drag;
  }
}
